{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>

<form method="POST" action="/">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}
